/*this is the wiki main page w the cool grid stuff and all the topics to choose from */
body 	{
	background-color: rgb(64, 63, 72);
}
#wikinav {
	display: flex;
	justify-content: flex-end;
	margin: auto;
	padding: 2rem;
	background-color: transparent;
}
#wikinav + a {
	color: rgb(217, 179, 140);
	padding: 0.4rem;
	text-align: center;
	margin: 1rem;
	text-transform: uppercase;
	text-decoration: none;
}
h1 {
	display: block;
	margin: auto;
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 3rem;
	color: rgb(241, 244, 223);
	text-transform: uppercase;
	padding: 3rem;
}
h1 + p {
	display: block;
	color: rgb(241, 244, 223);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
}
/* that div class thingy for grid so that each under div (children) can have cute little box like appearance etc*/
.parent {
	display: flex;
	flex-wrap: wrap;
  	justify-content: space-evenly;
  	align-items: center;
	padding: 2rem;
	margin: 4rem;
}

/*now general display opts x each grid boxes. need to give the class name to each sub-div*/
.plot {
  display: flex;
  align-items: center;
  justify-content: center;
	border: 0.2rem outset rgba(128, 128, 128, 0.7);
  border-radius: 0.5rem;
	background-color: #eadea6;
	box-shadow: 0.2rem 0.2rem rgba(251, 250, 223, 0.5);
	width: 6rem;
  height: 4rem;
  margin: 0.4rem;
}
.plot a {
	color: rgb(89, 108, 104);
	font-family: Tahoma, Geneva, Verdana, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
}
.plot:hover {
	transform: scale(1.06);
  box-shadow: 0.4rem 0.4rem rgba(251, 250, 223, 0.5);
}
footer {
	background-color: rgba(24, 24, 27, 0.5);
	text-transform: lowercase;
	font-family: sans-serif;
	color: rgb(241, 241, 243);
}
