/*all except for homepage w its own layout. here find body, sidebar, navbars, footer, palettes 
* {
}
header {
}*/
/*body will have sidebars w links to the pages like a doc-theme*/
body {
	background-color: rgb(50, 49, 59);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1rem;
}
header {
	display: flex;
	align-items: center;
	justify-content: center; /*flexbox?*/
	margin: auto;
}
h1 {
	color: #8693ac; /*temporary*/
}
footer {
	background-color: #748080;
	font-size: 0.8rem;
	color: rgb(211, 205, 231);
}
