/*this is the wiki main page w the cool grid stuff and all the topics to choose from */
body {
	background-color: rgb(184, 184, 148);
}
#wikinav {
	display: flex;
	align-items: flex-end;
	margin: auto;
	padding: 1rem;
	background-color: transparent;
}
#wikinav + a {
	color: rgb(10, 10, 15);
	padding: 0.4rem;
	text-align: center;
}
h1 {
	display: block;
	margin: auto;
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #115533;
	text-transform: uppercase;
	padding: 3rem;
}
h1 + p {
	display: block;
	text-align: center;
	padding: 1rem;
}
/* that div class thingy for grid so that each under div (children) can have cute little box like appearance etc*/
.parent {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: 3rem 3rem 3rem;
	grid-gap: 0.5rem;
	padding: 2rem;
	margin: 1rem;
  
}

/*now general display opts x each grid boxes. need to give the class name to each sub-div*/
.plot {
  display: flex;
  align-items: center;
  justify-content: center;
	border: 0.1rem solid rgba(20, 31, 31, 0.5);
  border-radius: 0.5rem;
	background-color: rgba(0, 102, 51, 0.8);
	
}
.plot a {
	color: rgb(255, 255, 204);
	font-family: Tahoma, Geneva, Verdana, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
  
}
.plot:hover {
	box-shadow: 0.2rem 0.2rem 0.2rem rgba(122, 92, 82, 0.5);
}


